                                               @charset "UTF-8";
/* 초기화 */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Playfair+Display:wght@400;700&family=Ubuntu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&family=Source+Sans+Pro&display=swap');

* {
    margin: 0; padding: 0;
}
a { text-decoration: none !important; color: black;}
img { border: 0; }
ul { list-style: none; }

html{font-size: 20px}

body{
    margin: 0;
    font-family: 'PT Sans Narrow';
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
}


#header .swiper-container {
    width: 100%;
    height: 100%;
    top: 0;
}

.swiper-head-mob  {
    position: absolute;
    display: none;
}
.swiper-head-tab {
    position: absolute;
    display: none;
}

#header .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.header-nav {
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999999;
    background-color:rgba(255, 255, 255, 0.1);
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
}

.down {
    background-color:rgba(0,0,0,.8);
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease;
}


#header .header-nav .header-logo {
    width: 300px;
    position: absolute;
    top: 30px;
}

#header .header-nav .header-logo img {
    width: 200px;
}

.header-menu > ul {
    text-align: center;
    margin-top: 50px;
}

.header-menu #num > li {
    display: inline-block;
}

.header-menu #num > li > a{
    font-size: 18px;
    padding: 50px 30px 20px 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#header .header-img {
    width: 20px;
    position: absolute;
    top: 40px;
    right: 50px;
}


.header-menu:hover{
    color:#B5DDEE;
}

/* .header-menu .sub > li::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #ffffff;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.header-menu .sub > li:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
} */

#num > li > a:hover {
    color: rgb(120, 186, 224);
}

.sub > li > a:hover {
    color: rgb(54, 179, 251);
}

.sub {
    display: none;
    position: absolute;
    z-index: 1;
    width: 140px;
    background: rgb(255, 255, 255);
    opacity: 0.8;
    /* transition: height .4s;
    -webkit-transition: height .2s; 
    -moz-transition: height .2s; */
    
}

.sub li a{
    color: rgb(105, 101, 101);
    font-size: 13px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.toggleBtn{
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-size: 40px;
    display: none;
}

/* 푸터 */

#footer{
    margin-top: 60px;
    overflow: hidden;
    background: rgba(164, 162, 162, 0.5);
}

#footer .footer-txt{
    height: 400px;
    position: relative;
}

#footer-txt-all{
    display: flex;
    position: absolute;
    top: 90px;
    left: 180px;
}

#footer-txt-all .menu{
    margin-left: 50px;
}

#footer-txt-all .family{
    margin-left: 50px;
}

#footer-txt-all .career{
    margin-left: 50px;
}


#footer .footer-txt .sns{
    overflow: hidden;
    margin-left: 380px;
    margin-top: 80px;
}

#footer .footer-txt .sns a img{
    float: right;
    width: 80px;
}
#footer .footer-txt .sns a img:hover{
    background: rgb(167, 198, 226);
    border-radius: 50%;
    /* opacity: 60%; */
}

#footer .footer-txt h5{
    font-style: Bold;
    Font-size: 18px;
    font-family: PT Sans;
    color: rgb(121, 178, 204)
}


#footer .footer-txt div p{
    line-height: 40px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}

#footer .footer-txt div a p{
    line-height: 40px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}

#footer .footer-txt div a p:hover{
    color: rgb(60, 132, 168)
}

/*미디어  */

@media all and (min-width:1201px) and (max-width:1732px) {
    #footer .footer-txt{
        height: 600px;
    }
    
    #footer-txt-all{
        position: relative;
        overflow: hidden;
        top: 50px;
        left: 150px;
        font-weight: lighter;
    }

    #footer .footer-txt div p{
        line-height: 35px;
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    #footer .footer-txt div a p{
        line-height: 40px;
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    #footer-txt-all .office{
        position: absolute;
        float: left;
        margin-left: 90px;
        width: 450px;
    }

    #footer-txt-all .menu{
        position: absolute;
        float: left;
        margin-left: 90px;
        width: 140px;
        margin-top: 180px;
    }
    
    #footer-txt-all .family{
        position: absolute;
        float: left;
        left: 150px;
        margin-left: 110px;
        width: 80px;
        margin-top: 180px;
    }
    
    #footer-txt-all .career{
        position: absolute;
        float: left;
        left:250px;
        margin-left: 130px;
        width:80px;
        margin-top: 180px;
    }
    
    
    #footer .footer-txt .sns{
        margin-right: 0px;
        width: 350px;
        margin-top: 350px;
    }
    
    #footer .footer-txt .sns a img{
        float: right;
        width: 70px;
    }
}



@media all and (min-width:1024px) and (max-width:1200px) {
    .swiper-container.swiper-head-tab {
        width: 100%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-container.swiper-head-mob{
        position: absolute;
        display: none;
    }
    .swiper-head > .swiper-wrapper > .swiper-slide{
        position: absolute;
        display: none;
    }    

        .toggleBtn{
            position: absolute;;
            display: none;
        }
    
        #footer .footer-txt{
            height: 600px;
        }
        
        #footer-txt-all{
            position: relative;
            overflow: hidden;
            top: 50px;
            left: 150px;
            font-weight: lighter;
        }
    
        #footer .footer-txt div p{
            line-height: 35px;
            font-size: 18px;
            font-family: 'Noto Sans KR', sans-serif;
        }
    
        #footer .footer-txt div a p{
            line-height: 40px;
            font-size: 18px;
            font-family: 'Noto Sans KR', sans-serif;
        }
    
        #footer-txt-all .office{
            position: absolute;
            float: left;
            margin-left: 90px;
            width: 650px;
        }
    
        #footer-txt-all .menu{
            position: absolute;
            float: left;
            margin-left: 90px;
            width: 140px;
            margin-top: 180px;
        }
        
        #footer-txt-all .family{
            position: absolute;
            float: left;
            left: 150px;
            margin-left: 110px;
            width: 80px;
            margin-top: 180px;
        }
        
        #footer-txt-all .career{
            position: absolute;
            float: left;
            left:250px;
            margin-left: 130px;
            width: 80px;
            margin-top: 180px;
        }
        
        
        #footer .footer-txt .sns{
            margin-right: 0px;
            width: 350px;
            margin-top: 380px;
        }
        
        #footer .footer-txt .sns a img{
            float: right;
            width: 60px;
        }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    #header .header-nav .header-logo img {
        width: 150px;
    }

    .header-menu li a{
        font-size: 15px;
        padding: 50px 30px 40px 10px;
        color: white;
        font-family: 'Ubuntu', sans-serif;
    }
    .toggleBtn{
        position: absolute;;
        display: none;
    }

    .swiper-container.swiper-head-tab {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-container.swiper-head-mob{
        position: absolute;
        display: none;
    }
    .swiper-head > .swiper-wrapper > .swiper-slide{
        position: absolute;
        display: none;
    }

        /* 푸터 */
        #footer .footer-txt{
            height: 600px;
        }
        
        #footer-txt-all{
            position: relative;
            overflow: hidden;
            top: 50px;
            left: 70px;
            font-weight: lighter;
        }
    
        #footer .footer-txt div p{
            line-height: 35px;
            font-size: 18px;
            font-family: 'Noto Sans KR', sans-serif;
        }
    
        #footer .footer-txt div a p{
            line-height: 37px;
            font-size: 17px;
            font-family: 'Noto Sans KR', sans-serif;
        }
    
        #footer-txt-all .office{
            position: absolute;
            float: left;
            margin-left: 15px;
            width: 450px;
        }
    
        #footer-txt-all .menu{
            position: absolute;
            float: left;
            margin-left: 15px;
            width: 140px;
            margin-top: 180px;
        }
        
        #footer-txt-all .family{
            position: absolute;
            float: left;
            left: 150px;
            margin-left: 15px;
            width: 80px;
            margin-top: 180px;
        }
        
        #footer-txt-all .career{
            position: absolute;
            float: left;
            left:250px;
            margin-left: 15px;
            width:80px;
            margin-top: 180px;
        }
        
        
        #footer .footer-txt .sns{
            float: left;
            margin-left: 15px;
            width: 650px;
            margin-top: 450px;
        }
        
        #footer .footer-txt .sns a img{
            float: left;
            width: 50px;
        }

}

/* 모바일 가로, 모바일 세로 (해상도 ~ 767px)*/
@media all and (max-width:767px) {
    .header{
        flex-direction: column;
        align-items: flex-start;
    }

    .header-menu #num > li > a{
        position: absolute;
        display: none;
    }
    
    .header-nav{
        flex-direction: column;
        align-items: flex-start;
        background-color: black;
        width: 100%;
    }
    .down {
        background-color:rgba(0, 0, 0, 0.8);
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        transition-duration:0.4s;
        transition-timing-function:ease;
    }
    #num{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #num li{
        padding: 5px 15px;
    }


    .header-menu li{
        width: 100%;
        text-align: center;
        display: none;
    }
    

    .swiper-container.swiper-head-mob {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    
    .swiper-container.swiper-head-tab {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

        
    .swiper-head > .swiper-wrapper > .swiper-slide{
        position: absolute;
        display: none;
    }
    .swiper-container.swiper-head-tab {
        position: absolute;
        display: none;
    }

    #header .header-nav .header-logo img {
        width: 150px;
    }

    .toggleBtn{
        margin-top: 10px;
        display: block;
        float: right;
    }

    #header .header-img{
        display: none;
    }

    /* 푸터 */
    #footer .footer-txt{
        height: 600px;
    }
    
    #footer-txt-all{
        position: relative;
        overflow: hidden;
        top: 50px;
        left: 70px;
        font-weight: lighter;
    }

    #footer .footer-txt div p{
        line-height: 30px;
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    #footer .footer-txt div a p{
        line-height: 30px;
        font-size: 14px;
        font-family: 'Noto Sans KR', sans-serif;
    }

    #footer-txt-all .office{
        position: absolute;
        float: left;
        margin-left: 10px;
        width: 350px;
    }

    #footer-txt-all .menu{
        position: absolute;
        float: left;
        margin-left: 10px;
        width: 120px;
        margin-top: 180px;
    }
    
    #footer-txt-all .family{
        position: absolute;
        float: left;
        left: 150px;
        margin-left: 10px;
        width: 60px;
        margin-top: 180px;
    }
    
    #footer-txt-all .career{
        position: absolute;
        float: left;
        left:250px;
        margin-left: 10px;
        width: 70px;
        margin-top: 180px;
    }
    
    
    #footer .footer-txt .sns{
        float: left;
        margin-left: 10px;
        width: 650px;
        margin-top: 450px;
    }
    
    #footer .footer-txt .sns a img{
        float: left;
        width: 50px;
    }
}

