@charset "UTF-8";
/* 초기화 */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Nanum+Gothic+Coding&family=Patrick+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

#companies .companies-text{
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-top: 40px;
}

#companies .companies-frame{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    margin-top: 40px;
}

#companies .companies-frame .companies-img {
    background: burlywood;
    flex: 1;
    margin: 0 1px;
    height: 450px;
}

#companies .companies-frame .companies-img.wide {
    background: url('../images/wide.jpeg');
    background-size: contain;
    cursor: pointer;
}
#companies .companies-frame .companies-img.wide:hover{
transform: scale( 1.02, 1.02 );
transition: .4s;
/* filter: brightness(60%); ; */
}
#companies .companies-frame .companies-img.rise {
    background: url('../images/rise.jpeg');
    background-size: cover;
    cursor: pointer;
}
#companies .companies-frame .companies-img.rise:hover{
    transform: scale( 1.02, 1.02 );
    transition: .4s;
    }
#companies .companies-frame .companies-img.media {
    background: url('../images/media.jpeg');
    background-size: cover;
    cursor: pointer;
}
#companies .companies-frame .companies-img.media:hover{
    transform: scale( 1.02, 1.02 );
    transition: .4s;
    }
#companies .companies-frame .companies-img.tv {
    background: url('../images/tv.jpeg');
    background-size: cover;
    cursor: pointer;
}
#companies .companies-frame .companies-img.tv:hover{
    transform: scale( 1.02, 1.02 );
    transition: .4s;
    }
#companies .companies-frame .companies-img.park {
    background: url('../images/park.jpeg');
    background-size: cover;
    cursor: pointer;
}
#companies .companies-frame .companies-img.park:hover{
    transform: scale( 1.02, 1.02 );
    transition: .4s;
    }

#companies .companies-frame .frame-txt  p{
    text-align: center;
    color: white;
    line-height: 2;
    margin-top: 280px;
    font-size: 25px;
}

.companies-frame .companies-img p:hover{
    background: url('../images/companies-text-back.png');
}



.companies-frame:hover::before {
        box-shadow: 10px 20px 60px rgba(0, 0, 10, .2);
}

.companies-frame .companies-img p::after {
        position: relative;
        display: inline-block;
        content: attr(data-title);
        transition: transform .2s ease; 
        font-weight: bold;
        letter-spacing: .01em;
        will-change: transform;
        transform:
        translateY(var(--ty, 0))
        rotateX(var(--rx, 0))
        rotateY(var(--ry, 0));
}


#companies .companies-frame p {
    font-weight: 700;
    text-align: center;
    color: white;
}
#companies .companies-frame .font p {
    font-size: 40px;
}


#latest-news{
    width: 910px;
    margin: 0 auto;
    overflow: hidden;
}

#latest-news .news-text p{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-top: 80px;
}


#latest-news .news-frame .news-img {
    float: left;
    margin: 0 6px;
    margin-top: 50px;
}

#latest-news .news-txt{
    overflow: hidden;
}
#latest-news .news-txt .news-menu li{
    float: left;
    margin: 0 10px;
    margin-top: 50px;
}

.news-img img:hover {
    transform: scale( 1.1, 1.1 );
    filter: brightness(70%); ;
    transition: .3s;
}

.news-img p{
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.news-txt .news-menu li a:hover{
    color:#B5DDEE;
    font-size: 20px;
}

#youtube{
    background: url('../images/js.jpg');
    background-size: cover;
    width: 100%;
    height: 700px;
    /* position: relative; */
    /* display: flex; */
    overflow: hidden;
    margin-top: 0;
}

#youtube .youtube-text{
    /* position: absolute; */
    background-color:rgb(41, 79, 161);
    /* top: 220px; */
    width:474px;
    height: 400px;
    float: left;
    margin-top: 270px;
    border-radius: 0px 0px 50px 0px;
}

#youtube .youtube-text p{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    position: relative;
    top: 100px;
    left: 30px;
}

#text-big {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
}

#youtube .youtube-slide {
    /* flex: 8; */
    /* flex-basis: 700px; */
    width: 1429px;
    margin-top: 285px;
    float: left;
}



.youtube-button{
    position: relative;
    left: 250px;
    top: 170px;
}


#test_prev_youtube:hover{
    color: rgb(107, 106, 106);
}

#test_next_youtube:hover{
    color: rgb(107, 106, 106);
}

.youtube-slide .swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-content .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-content .swiper-wrapper .swiper-slide:hover{
    transform: scale(1.1);
    transition: .5s;
}

.swiper-content .swiper-wrapper .swiper-slide.first {
    margin-left: 100px;
}

#youtube{
    overflow: hidden;
}

#recruit{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

#recruit .recruit_slide {
    width: 815px;
    float: left;
}

.swiper-recruit {
    width: 100%;
    height: 100%;
}

.swiper-recruit .swiper-slide.slide4 {
    background: url(../images/recruit.jpg);
    background-size: cover;
    background-position:center;
    height: 210px;
}

.swiper-recruit .swiper-slide.slide5 {
    background: url(../images/recruit2.jpg);
    background-size: cover;
    background-position:center;
    height: 210px;
}

.swiper-recruit .swiper-slide.slide6 {
    background: url(../images/recruit3.jpg);
    background-size: cover;
    background-position:center;
    height: 210px;
}

.swiper-recruit .swiper-slide.slide7 {
    background: url(../images/recruit4.jpg);
    background-size: cover;
    background-position: center;
    height: 210px;
}

.swiper-recruit .swiper-slide.slide8 {
    background: url(../images/recruit5.jpg);
    background-size: cover;
    background-position: center;
    height: 210px;
}

#recruit .recruit-text{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-top: 80px;
    margin-left: 70px;
}

.swiper-container .swiper-recruit {
    width: 100%;
    height: 100%;
}

.swiper-recruit .swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* 
#recruit #recruit-slide{
    width: 815px;
    float: left;
} */

#recruit #recruit-slide .swiper-wrapper .swiper-slide img {
    border-radius: 10px;
}
#recruit #recruit-slide .swiper-wrapper .swiper-slide img:hover{
    transform: scale( 1.1, 1.1 );
    transition: .2s;
}

#recruit #recruit_btn1{
    width: 53px;
    float: left;
    height: 213px;
    display: flex;
    align-items: center;
    margin-right: 20px;

}

#recruit #recruit_btn2{
    width: 53px;
    float: left;
    height: 213px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#prev_youtube{
    border-radius: 50%;
    background-color: rgb(204, 228, 248);
}
#next_youtube{
    border-radius: 50%;
    background-color: rgb(204, 228, 248);
}

#prev_youtube:hover{
    color: rgb(107, 106, 106);
    cursor: pointer;
}
#next_youtube:hover{
    color: rgb(107, 106, 106);
    cursor: pointer;
}

#recruit_prev{
    border-radius: 50%;
    background-color: rgb(230, 239, 247);
    /* float: left; */
}

#recruit_next{
    border-radius: 50%;
    background-color: rgb(230, 239, 247);
    /* float: right; */
}

#recruit_prev:hover{
    color: rgb(107, 106, 106);
    cursor: pointer;
}

#recruit_next:hover{
    color: rgb(107, 106, 106);
    cursor: pointer;
}

#contact .contact-img {
    background: url(../images/contact.jpg);
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 400px;
    margin-top: 80px;
}
/* 
#contact .contact-img {
    background: url('../images/contact.jpg');
    background-size: cover;
} */

#contact .contact-img-mob {
    position: absolute;
    display: none;
}

#contact button {
    align-items: center;
    display: inline-block;
    float: right;
    margin-right: 550px;
    padding: 15px 40px;
    border: 3px solid #ffffff;
    background: #00000000 ;
    color: #ffffff;
    text-align: center; 
    margin-top: 180px;
}

#contact button:hover {
    background-color:#ffffff;
    color:rgb(0, 0, 0);
    transform: scale(1.1);
    transition: .5s;
}



/* PC (해상도 1024px)*/

@media all and (min-width:1371px) and (max-width:1800px) {
    #companies .companies-frame{
        display: flex;
        width: 1350px;
        margin: 0 auto;
        margin-top: 40px;
    }

    #companies .companies-frame .companies-img {
        margin: 0 1px;
        height: 450px;
        flex-basis: 450px;
    }

    #companies .companies-frame .frame-txt  p{
        text-align: center;
        color: white;
        line-height: 2;
        margin-top: 300px;
        font-size: 14px;
    }

    #contact button {
        align-items: center;
        display: inline-block;
        float: right;
        margin-right: 350px;
        padding: 15px 40px;
        border: 3px solid #ffffff;
        background: #00000000 ;
        color: #ffffff;
        text-align: center; 
        margin-top: 300px;
    }
}
@media all and (min-width:1024px) and (max-width:1370px) {
    
    #companies .companies-frame{
        display: flex;
        width: 960px;
        margin: 0 auto;
        margin-top: 40px;
    }

    #companies .companies-frame .frame-txt  p{
        text-align: center;
        color: white;
        line-height: 2;
        margin-top: 300px;
        font-size: 14px;
    }
    
    
    #contact button {
        align-items: center;
        display: inline-block;
        float: right;
        margin-right: 150px;
        padding: 15px 40px;
        border: 3px solid #ffffff;
        background: #00000000 ;
        color: #ffffff;
        text-align: center; 
        margin-top: 300px;
    }
    
    #contact button:hover {
        background-color:#ffffff;
        color:rgb(0, 0, 0);
        transform: scale(1.1);
        transition: .5s;
    }

    #contact .contact-img {
        background: url(../images/contact-tab.jpg);
        background-size: cover;
        background-position:center;
        width: 100%;
        height: 600px;
        margin-top: 80px;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    #latest-news{
        width: 710px;
        margin: 0 auto;
        overflow: hidden;
    }

    #latest-news .news-text p{
        font-size: 35px;
    }

    #latest-news .news-txt .news-menu li{
        float: left;
        margin: 0 5px;
        margin-top: 50px;
        font-size: 20px;
    }

    .news-img  img {
        justify-content: center;
        max-width: 200px;
        max-height: 160px;
    }
    

    #recruit #recruit_new{
        display: flex;
        justify-content: center;
    }
    

    #recruit #recruit_btn1{
        display: none;
    }
    
    #recruit #recruit_btn2{
        display: none;
    }

    #recruit{
        width: 100%;
    }
    
    /* #recruit .recruit_slide {
        width: 815px;
        float: left;
    } */
    

    #companies .companies-frame{
        display: flex;
        width: 650px;
        margin: 0 auto;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    #companies .companies-frame .companies-img {
        margin: 0 1px;
        height: 450px;
        flex-basis: 200px;
    }

    #companies .companies-frame .frame-txt  p{
        text-align: center;
        color: white;
        line-height: 2;
        margin-top: 280px;
        font-size: 18px;
    }
    
    
    #latest-news .news-frame .news-img img {
        align-items: center;
        width: 240px;
    }

    #contact .contact-img {
        background: url(../images/contact-mob.jpg);
        background-size: cover;
        background-position:center;
        width: 100%;
        height: 600px;
        margin-top: 80px;
    }

    #contact button {
        align-items: center;
        display: inline-block;
        margin-right: 80px;
        padding: 15px 40px;
        border: 3px solid #ffffff;
        background: #00000000 ;
        color: #ffffff;
        text-align: center; 
        margin-top: 440px;
    }

    

}

/* 모바일 가로, 모바일 세로 (해상도 ~ 767px)*/
@media all and (max-width:767px) {
    #recruit #recruit_btn1{
        display: none;
    }
    
    #recruit #recruit_btn2{
        display: none;
    }

    #recruit{
        width: 100%;
    }

    /* companies */
    #companies .companies-text{
        text-align: center;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
        margin-top: 40px;
    }
    
    #companies .companies-frame{
        display: flex;
        width: 450px;
        margin: 0 auto;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    #companies .companies-frame .companies-img {
        margin: 0 1px;
        height: 450px;
        flex-basis: 150px;
    }
    
    #companies .companies-frame .frame-txt  p{
        text-align: center;
        color: white;
        line-height: 2;
        margin-top: 280px;
        font-size: 18px;
    }
    
    #companies .companies-frame p {
        font-weight: 700;
        text-align: center;
        color: white;
    }
    #companies .companies-frame .font p {
        font-size: 20px;
    }

    #companies .companies-frame .companies-img.park {
        position: absolute;
        display: none;
    }
    #companies .companies-frame .companies-img.park:hover{
        transform: scale( 1.02, 1.02 );
        transition: .4s;
        }

    /* news */
    #latest-news{
        position: relative;
        width: 495px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    #latest-news .news-text p{
        font-size: 30px;
    }
    
    
    #latest-news .news-frame .news-img {
        float: left;
        margin: 0 6px;
        margin-top: 50px;
    }

    #latest-news .news-frame .news-img img {
        align-items: center;
        width: 230px;
    }

    #latest-news .news-txt{
        overflow: hidden;
        font-size: 25px;
    }
    #latest-news .news-txt .news-menu li{
        float: left;
        margin: 0 5px;
        margin-top: 50px;
        font-size: 15px;
    }

    .news-img  img {
        justify-content: center;
        max-width: 200px;
        max-height: 160px;
    }
    
    #news-frame .news-img p{
        font-size: 30px;
    }
    
    /* youtube */

    #youtube{
        background: url('../images/js.jpg');
        background-size: cover;
        width: 100%;
        height: 700px;
        overflow: hidden;
        margin-top: 0;
    }
    
    #youtube .youtube-text{
        margin: 0 auto;
        /* position: relative; */
        float: left;
        margin-left: 10px;
        background-color:rgb(41, 79, 161);
        width:450px;
        height: 150px;
        margin-top: 30px;
        border-radius: 40px 40px 40px 40px;
    }
    
    #youtube .youtube-text> p{
        left: 50px;
        font-family: 'Noto Sans KR', sans-serif;
        color: rgb(255, 255, 255);
    }
    
    #text-big {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 25px;
    }
    
    #youtube .youtube-slide {
        /* flex: 8; */
        /* flex-basis: 700px; */
        width: 1429px;
        margin-top: 285px;
        float: left;
    }
    
    .youtube-button{
        position: relative;
        left: 250px;
        top: 170px;
    }
    
    .youtube-slide .swiper-container {
        width: 100%;
        height: 100%;
    }
 
    /* recruit */

    #recruit .recruit-text{
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-weight: bolder;
        margin-top: 60px;
        margin-left: 180px;
    } 

    .swiper-recruit .swiper-slide.slide4 {
        background: url(../images/recruit-mob.jpg);
        background-size: cover;
        background-position:center;
        height: 210px;
    }
    
    .swiper-recruit .swiper-slide.slide5 {
        background: url(../images/recruit2-mob.jpg);
        background-size: cover;
        background-position:center;
        height: 210px;
    }
    
    .swiper-recruit .swiper-slide.slide6 {
        background: url(../images/recruit3-mob.jpg);
        background-size: cover;
        background-position:center;
        height: 210px;
    }
    
    .swiper-recruit .swiper-slide.slide7 {
        background: url(../images/recruit4-mob.jpg);
        background-size: cover;
        background-position: center;
        height: 210px;
    }
    
    .swiper-recruit .swiper-slide.slide8 {
        background: url(../images/recruit5-mob.jpg);
        background-size: cover;
        background-position: center;
        height: 210px;
    }

    
    /* #recruit .recruit_slide {
        width: 100%;
        float: left;
    } */
    
    .swiper-recruit {
        width: 400px;
        height: 200px;
    }

    #recruit #recruit_new{
        display: flex;
        justify-content: center;
    }
    
     /* contact */


    #contact .contact-img {
        background: url(../images/contact-mob.jpg);
        background-size: cover;
        background-position:center;
        width: 100%;
        height: 500px;
        margin-top: 80px;
    }

    
    #contact button {
        align-items: center;
        display: inline-block;
        margin-right: 180px;
        padding: 15px 40px;
        border: 3px solid #ffffff;
        background: #00000000 ;
        color: #ffffff;
        text-align: center; 
        margin-top: 380px;
    }
    
    #contact button:hover {
        background-color:#ffffff;
        color:rgb(0, 0, 0);
        transform: scale(1.1);
        transition: .5s;
    }
    


    
    
    
}